In [1]:
import os
import pandas as pd
from pathlib import Path

import analyse as a

In [2]:
dir(a)

['Path',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'get_latest_log_filename',
 'load_latest_log',
 'main',
 'merge_trades',
 'os',
 'pd']

In [3]:
orders_df = a.load_latest_log("LOG_CSV")
#orders_df = pd.read_csv(a.get_latest_log_filename("LOG_CSV"), sep=";", index_col=False).set_index("date")
trades_df = a.load_latest_log("TRADES")

In [4]:
orders_df.tail(10)

,log_type,symbol,open,high,low,close,volume,order_ref,order_name,order_type,order_status,order_price,order_size,order_value,order_commission,max_hold_date,EMA200,EMA20,ATR,SuperTrend
date,,,,,,,,,,,,,,,,,,,,
2022-05-04,LOG_NEXT,ORCL,73.38,75.35,72.79,75.21,6759900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.25,77.04,2.10,79.70
2022-05-04,LOG_NEXT,AAPL,159.67,166.48,159.26,166.02,108256500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.25,163.82,5.15,171.27
2022-05-05,LOG_NEXT,ORCL,74.00,74.72,71.99,72.80,7197200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.16,76.64,2.18,79.70
2022-05-05,LOG_NEXT,AAPL,163.85,164.08,154.95,156.77,130525300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.23,163.15,5.57,171.27
2022-05-06,LOG_NEXT,ORCL,72.13,72.94,71.63,72.49,6221000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.06,76.24,2.12,78.68
2022-05-06,LOG_NEXT,AAPL,156.01,159.44,154.18,157.28,116055700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.22,162.59,5.55,171.27
2022-05-09,LOG_NEXT,ORCL,71.64,72.59,71.17,71.54,7019700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.96,75.79,2.07,78.06
2022-05-09,LOG_NEXT,AAPL,154.93,155.83,151.49,152.06,131577900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.16,161.59,5.56,171.27
2022-05-10,LOG_NEXT,ORCL,72.50,73.62,71.27,72.53,8129000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.86,75.48,2.09,78.06
2022-05-10,LOG_NEXT,AAPL,155.52,156.74,152.93,154.51,115366700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.13,160.91,5.50,171.27

In [5]:
trades_df.tail(10)

,ref,symbol,size,price,value,commission,pnl,pnlcomm,justopened,isopen,...,baropen,dtopen,barclose,dtclose,barlen,status,buy_open,buy_close,sell_open,sell_close
date,,,,,,,,,,,,,,,,,,,,,
2021-11-18,15,AAPL,0.00,148.99,0.00,1.2965,39.45,38.1525,False,False,...,966,2021-11-01 00:00:00,979.0,2021-11-18 00:00:00,13.0,2,148.99,148.96,153.710007,157.869995
2021-11-23,16,ORCL,0.00,93.73,0.00,1.0076,2.31,1.2983,False,False,...,967,2021-11-02 00:00:00,982.0,2021-11-23 00:00:00,15.0,2,93.73,95.87,94.160004,92.940002
2021-12-21,17,AAPL,3.77,171.56,646.67,0.6467,0.00,-0.6467,True,True,...,1001,2021-12-21 00:00:00,NaN,NaN,NaN,1,171.56,172.99,NaN,NaN
2022-01-11,17,AAPL,0.00,171.56,0.00,1.2962,2.86,1.5685,False,False,...,1001,2021-12-21 00:00:00,1015.0,2022-01-11 00:00:00,14.0,2,171.56,172.99,172.320007,175.080002
2022-01-12,18,AAPL,3.66,176.12,643.97,0.6440,0.00,-0.6440,True,True,...,1016,2022-01-12 00:00:00,NaN,NaN,NaN,1,176.12,175.53,NaN,NaN
2022-01-19,18,AAPL,0.00,176.12,0.00,1.2542,-33.74,-34.9952,False,False,...,1016,2022-01-12 00:00:00,1020.0,2022-01-19 00:00:00,4.0,2,176.12,175.53,170.000000,166.229996
2022-02-14,19,AAPL,3.75,167.37,628.40,0.6284,0.00,-0.6284,True,True,...,1038,2022-02-14 00:00:00,NaN,NaN,NaN,1,167.37,168.88,NaN,NaN
2022-02-23,19,AAPL,0.00,167.37,0.00,1.2286,-28.17,-29.3937,False,False,...,1038,2022-02-14 00:00:00,1044.0,2022-02-23 00:00:00,6.0,2,167.37,168.88,165.539993,160.070007
2022-04-07,20,AAPL,3.65,171.16,624.84,0.6248,0.00,-0.6248,True,True,...,1075,2022-04-07 00:00:00,NaN,NaN,NaN,1,171.16,172.14,NaN,NaN
2022-04-22,20,AAPL,0.00,171.16,0.00,1.2213,-28.42,-29.6450,False,False,...,1075,2022-04-07 00:00:00,1085.0,2022-04-22 00:00:00,10.0,2,171.16,172.14,166.460007,161.789993

In [6]:
trades_df.index

Index(['2021-01-05', '2021-01-06', '2021-01-22', '2021-01-26', '2021-02-01',
       '2021-02-12', '2021-02-19', '2021-02-25', '2021-03-12', '2021-04-01',
       '2021-04-26', '2021-05-03', '2021-05-05', '2021-05-11', '2021-05-13',
       '2021-06-02', '2021-07-29', '2021-08-18', '2021-08-19', '2021-08-19',
       '2021-09-01', '2021-09-08', '2021-09-09', '2021-09-13', '2021-09-14',
       '2021-09-20', '2021-10-01', '2021-10-08', '2021-11-01', '2021-11-02',
       '2021-11-18', '2021-11-23', '2021-12-21', '2022-01-11', '2022-01-12',
       '2022-01-19', '2022-02-14', '2022-02-23', '2022-04-07', '2022-04-22'],
      dtype='object', name='date')

In [ ]:
trades_df[trades_df["ref"] == 1].iloc[0].name

In [ ]:
trade_ids = list(set(trades_df['ref']))
merged_df = pd.DataFrame()
for id in trade_ids:
  open  = trades_df[trades_df["ref"] == id].iloc[0]
  close = trades_df[trades_df["ref"] == id].iloc[1]
  merged_df.append(open)
  #print(f"Open Ref: {open['ref']}, {open['symbol']} | Open[Date:{open.name},Value:{open['value']}] , Close[Date:{close.name},Value:{close['value']}]")

merged_df